# MULTIPLICAR STRING

In [ ]:
def multiplica_str(s,p):
    return s * p


s = input()
p = int(input())

print(multiplica_str(s,p))

123
3
123123123

# DIGITO ÚNICO

In [ ]:
def digito_unico(x):
  if(x<10):
    return x
  else:
    return digito_unico(x//10) + x%10

x = int(input())
print(digito_unico(x))

123456789
45

# 1013 MAIOR

**Existe uma formula matematica pra calcular o maior**

* maiorab = (a+b+abs(a-b))/2

In [ ]:
a,b,c = input().split(" ")

a = int(a)
b = int(b)
c = int(c)

m = (a+b+abs(a-b))/2

print("{} eh o maior".format(int((m+c+abs(m-c))/2)))

1 2 3
3 eh o maior

# 1014 Consumo

In [ ]:
a = int(input())
b = float(input())

print("{:.3f} km/l".format(a/b))

500
35.0
14.286 km/l

# 1015 Distancia entre dois pontos

In [ ]:
from math import sqrt
x1,y1 = input().split(" ")
x2,y2 = input().split(" ")

x1 = float(x1)
x2 = float(x2)

y1 = float(y1)
y2 = float(y2)

d = pow(abs(x2-x1),2) + pow(abs(y2-y1),2)

print("{:.4f}".format(sqrt(d)))

-2.5 0.4
12.1 7.3
16.1484

# 1016 DISTANCIA

In [ ]:
x = int(input())

print("{} minutos".format(x*2))

4
8 minutos

# 1017 GASTO DE COMBUSTIVEL

In [ ]:
x = int(input())
y = int(input())

print("{:.3f}".format((x*y)/12))

10
85
70.833

# 1018 CEDULAS

In [ ]:
n = int(input())


n100 = n // 100
n = n - n100*100

n50 = n // 50
n = n - n50*50

n20 = n // 20
n = n - n20*20

n10 = n // 10
n = n - n10*10

n5 = n // 5
n = n - n5*5

n2 = n // 2
n = n - n2*2

n1 = n // 1
n = n - n1*1

print('{} nota(s) de R$ 100,00'.format(n100))
print('{} nota(s) de R$ 50,00'.format(n50))
print('{} nota(s) de R$ 20,00'.format(n20))
print('{} nota(s) de R$ 10,00'.format(n10))
print('{} nota(s) de R$ 5,00'.format(n5))
print('{} nota(s) de R$ 2,00'.format(n2))
print('{} nota(s) de R$ 1,00'.format(n1))

503
5 nota(s) de R$ 100,00
0 nota(s) de R$ 50,00
0 nota(s) de R$ 20,00
0 nota(s) de R$ 10,00
0 nota(s) de R$ 5,00
1 nota(s) de R$ 2,00
1 nota(s) de R$ 1,00

# 1019 CONVERSÃO DE TEMPO

In [ ]:
t = int(input())
h = t//3600
t = t - (h*3600)
m = t//60
t = t - (m*60)
print("{}:{}:{}".format(h,m,t))

140153
38:55:53

# 1020 IDADE EM DIAS

In [ ]:
d = int(input())
a = d//365
d -= a*365
m = d//30
d -= m*30

print("{} ano(s)".format(a))
print("{} mes(es)".format(m))
print("{} dia(s)".format(d))

30
0 ano(s)
1 mes(es)
0 dia(s)

# 1035 TESTE DE SELEÇÃO

In [ ]:
a,b,c,d = input().split(" ")
a = int(a)
b = int(b)
c = int(c)
d = int(d)

if(b>c and d>a and c+d>a+b and c>0 and d>0 and a%2==0):
  print("Valores aceitos")
else:
  print("Valores nao aceitos")

2 3 2 6
Valores aceitos

# 1036 FORMULA DE BHASKARA

In [ ]:
from math import sqrt

a,b,c = input().split(" ")
a = float(a)
b = float(b)
c = float(c)
if(a==0):
  print("Impossivel calcular")
else:
  delta = (b*b) - (4*a*c)
  if(delta<0):
    print("Impossivel calcular")
  else:
    r1 = (-b + sqrt(delta))/(2*a)
    r2 = (-b - sqrt(delta))/(2*a)

    print("R1 = {:.5f}".format(r1))
    print("R2 = {:.5f}".format(r2))

10.0 3.0 5.0
Impossivel calcular

# 1037 INTERVALO

In [ ]:
a = float(input())

if(a<0 or a >100.0):
  print("Fora de intervalo")

if(a>=0 and a <=25.0):
  print("Intervalo [0,25]")

if(a>25.0 and a <=50.0):
  print("Intervalo (25,50]")

if(a>50.0 and a <=75.0):
  print("Intervalo (50,75]")

if(a>75.0 and a <=100.0):
  print("Intervalo (75,100]")

100.00
Intervalo (75,100]

# 1038 LANCHE

In [ ]:
a,b = input().split(" ")
a = int(a)
b = int(b)

if(a==1):
  print("Total: R$ {:.2f}".format(b*4.0))
if(a==2):
  print("Total: R$ {:.2f}".format(b*4.5))
if(a==3):
  print("Total: R$ {:.2f}".format(b*5.0))
if(a==4):
  print("Total: R$ {:.2f}".format(b*2.0))
if(a==5):
  print("Total: R$ {:.2f}".format(b*1.5))

2 3
Total: R$ 13.50